.user-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    margin: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
  }

  
  /* Contenedor para alinear create-order y check-order-status */
  .order-section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    margin-top: 20px;
  }
  
  /* Estilos individuales de cada componente */
  .order-form-container, .check-order-status-container {
    flex: 1; /* Ambos ocupan la misma proporción */
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
  }
  
  .user-title {
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
    font-size: 30px; /* Más grande */
    color: #555555; /* Gris oscuro */
    text-align: right;
    margin-right: 20px;
  }
  
  .map-container {
    width: 100%;
    max-width: 800px;
    height: 500px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin:auto;
  }
  