/* Contenedor principal */
.business-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px; /* Mayor separación */
  padding: 20px;
  border-radius: 10px;
}

/* Botón de registro */
button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

  
  .business-title {
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
    font-size: 30px; /* Más grande */
    color: #555555; /* Gris oscuro */
    text-align: right;
    margin-right: 20px;
  }
  
  .map-container {
    width: 100%;
    max-width: 800px;
    height: 500px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  